

<h1 style="text-align: center;">Ajouter un evenement </h1>

<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    
  
    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" id="titre" formControlName="titre">
    </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
  
    <div class="form-group">
      <label for="dateheure">Date et Heure</label>
      <input type="datetime-local" id="dateheure" formControlName="dateheure">
    </div>
  
    <div class="form-group">
      <label for="rappelavant">Rappel avant </label>
      <input type="number" id="rappelavant" formControlName="rappelavant">
    </div>
  
    <div class="form-group">
      <label for="userid">ID Utilisateur</label>
      <input type="number" id="userid" formControlName="userid">
    </div>
  
    <div class="form-group">
      <label for="participants">Participants </label>
      <input type="text" id="participants" formControlName="participants">
    </div>
  
    <button type="submit"  >Ajouter</button>
  </form>
  
